$header-background:#F0FFF0;
$header-text-color: #56548C;
$text-color-black:#000000;
$text-color-grey:#6C6B6B;
$text-color-bold:#413960;
$card-text-color:#413960;
$card-subtitle-color: #585859;
$card-color:#F8FFFB;

$color-green:#21B573;
$color-white:#FFFFFF;
$color-orange:#FD511A;